@model GetThemeOptionsVM

<div class="col-sm-3">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Select Theme</h4>
        </div>
        <div class="card-body">
            <span hidden=""></span>
            <form asp-controller="ThemeOption" asp-action="ThemeOption" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <select asp-for="@Model.ThemeColor">
                        <option value="Blue">Blue</option>
                        <option value="Pink">Pink</option>
                        <option value="Green">Green</option>
                        <option value="Red">Red</option>
                        <option value="Purple">Purple</option>
                        <option value="Yellow">Yellow</option>
                    </select>
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary pull-left" />
                </div>

            </form>
        </div>
    </div>
</div>