<footer class="main-footer" style="background-color:#1e90ff;color:white">
    <strong>Copyright &copy; 2022 <a href="https://www.github.com/serhatyamann" target="_blank"><span style="color:white;text-decoration:underline">Serhat YAMAN</span></a>. </strong> All rights
    reserved.
</footer>