@model RegisterModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div id="content" class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Register</h4>
                    </div>
                    <div class="card-body">
                        <form asp-action="Register" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label>First Name</label>
                                <input asp-for="FirstName" class="form-control" placeholder="First Name" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>Last Name</label>
                                <input asp-for="LastName" class="form-control" placeholder="Last Name" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>Username</label>
                                <input asp-for="UserName" class="form-control" placeholder="User Name" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input asp-for="Email" class="form-control" placeholder="Email Address" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input asp-for="Password" class="form-control" placeholder="Password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="file" asp-for="Image">
                                <span asp-validation-for="ImagePath" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Register" class="btn btn-primary float-right" />
                            </div>
                        </form>
                    </div>
                    <div class="card-footer bg-black-active">
                        <a asp-action="Login" class="btn btn-dark btn-block">Log In</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


</body>
</html>

<style>
    #content {
        width: 400px;
        margin: auto;
    }
</style>
