@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<ul>
    @if (Context.User.Identity.IsAuthenticated)
    {
        <li>
            <a class="badge-info">Hello @User.Identity.Name</a>
        </li>
        <li>
            @foreach (var item in User.Claims.ToList())
            {
                <a class="badge-info">@item.Type.Replace("http://schemas.xmlsoap.org/ws/2005/05/identity/claims/", " ")</a><br />
                <a class="badge-info">@item.Value</a><br />
            }

        </li>
        <li>
            <a class="btn btn-danger" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
        </li>
    }
</ul>
